/*nav bar second screen*/

.searchbar {
    top: 0rem;
    width: 100%;
    height: 50px;
    color: #ab8347;
    border: #dfc981;
    padding-left: 1rem;
    display: inline-flex;
    font-family: "Marcellus SC", serif;
    border-radius: 1.6rem 0rem 1.6rem 0rem;
    background-color: rgb(218, 213, 213);
}

.order span {
    font-size: 0.9375rem;
}

.order span img {
    width: 13px;
    height: 13px;
    border: none;
}

.order span:hover,
.dif:hover,
#roleLetter:hover,
ul li a:hover {
    color: wheat;
    text-shadow: 0.0625rem 0.0625rem 0.5rem #ab8347, 0 0 1em #ab8347, 0 0 0.2em #ab8347;
}

#searchInputs:hover {
    color: #a87e3e;
    font-size: 1.5625rem;
    letter-spacing: 0.375rem;
    text-shadow: 0.0625rem 0.0625rem 0.5rem #07cbe9, 0 0 1em #07cbe9, 0 0 0.2em #07cbe9;
}

#searchInputs::placeholder {
    color: #a87e3e;
    padding-right: 0.3125rem;
}

#searchInputs ::placeholder:hover {
    color: #795de6;
}

#searchInputs {
    text-transform: capitalize;
}

.nameSearch {
    display: grid;
    color: #a87e3e;
    grid-gap: 1.25rem;
    padding-top: 1rem;
    grid-template-columns: 5% 95%;
}

#searchInputs {
    border: 0;
    width: 130px;
    color: #a87e3e;
    font-size: 1.5rem;
    margin-top: -1rem 0 0 0.4rem;
    font-family: "Marcellus SC", serif;
    background-color: rgb(218, 213, 213);
}

.dif {
    height: 100%;
    display: flex;
    cursor: pointer;
}

.dif>img {
    align-self: center;
    justify-self: center;
}

.dif>span {
    align-self: center;
    margin-right: 0.25rem;
}

ul {
    width: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    text-decoration: none;
    justify-content: space-evenly;
}

li {
    list-style: none;
}

ul li a {
    cursor: pointer;
    color: #ab8347;
    font-weight: bold;
    text-decoration: none;
}

li.active a {
    color: wheat;
    text-shadow: 0.0625rem 0.0625rem 0.5rem #ab8347, 0 0 1em #ab8347, 0 0 0.2em #ab8347;
}

.menu>p {
    align-self: center;
}

.orderArray {
    width: 130px;
    height: 100%;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.orderArray:hover .SortContent {
    display: block;
}

.order,
.orderArray,
.order span,
.dif,
.dif>img,
.dif>span,
#az,
#za,
.menu a,
.menu2 li a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu2 li a:active,
.menu2 li a:focus,
.menu2 li a:focus:active {
    outline: 0;
    box-shadow: none;
    background: transparent;
}

.SortContent {
    z-index: 1;
    display: none;
    cursor: pointer;
    color: #a87e3e;
    position: absolute;
    background-color: #dfdfdf2a;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
}

#az,
#za {
    width: 45px;
    height: 35px;
}

#az::selection,
#za::selection {
    background: rgba(32, 31, 31, 0);
}

#az:hover,
#za:hover {
    box-shadow: 0.0625rem 0.0625rem 0.5rem yellow, 0 0 1em #07cbe9, 0 0 0.2em #07cbe9;
}

.orderArray:hover .SortContent {
    display: grid;
    margin-top: 0.9375rem 0 0 -0.375rem;
    grid-template-rows: 1fr 1fr;
}

#dropdownSort:hover .SortContent {
    display: block;
}

.dropdownMenu {
    display: none;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    z-index: 1;
    display: none;
    cursor: pointer;
    min-width: 100px;
    color: #a87e3e;
    padding: 0.4375rem;
    position: absolute;
    margin-left: 0.3125rem;
    background-color: #dfdfdf2a;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
}


/* Links inside the dropdown */

.dropdown-content div {
    display: flex;
    color: black;
    padding: 0.2rem 0;
    text-decoration: none;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content,
.dropdownMenu:hover .dropdown-content {
    display: block;
}

#role {
    width: 45px;
    height: 40px;
}

.dropdownStyle {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
    ul li a {
        font-size: 0.6875rem;
    }
}

@media (max-width: 767px) {
    .menu {
        display: none;
    }
    .menu2 {
        display: flex;
        flex-direction: column;
    }
    .dropdownStyle {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .dropdownMenu {
        display: block;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .builds a {
        color: #dfc981;
        font-size: 0.6875rem;
    }
    .builds p {
        font-size: 0.4375rem;
        padding-left: 0.375rem;
    }
    #searchInputs {
        width: 59px;
        margin-top: -1rem;
        font-size: 0.875rem;
    }
    #searchInputs:hover {
        font-size: 0.875rem;
        letter-spacing: 0.165rem;
    }
    .searchbar {
        padding-left: 0rem;
    }
    .nameSearch {
        display: grid;
        grid-gap: 0.25rem;
        grid-template-columns: 20% 80%;
    }
    #role {
        width: 25px;
        height: 20px;
        margin-left: 0.1875rem;
    }
    .dropdownStyle div span {
        font-size: 0.875rem;
    }
    .dropdownStyle {
        width: 90%;
        display: flex;
        align-items: center;
    }
    .dropdownMenu {
        width: 80%;
        display: block;
    }
    .line {
        border-left: 0.06rem solid #07cbe9;
    }
    .dropdown-content {
        min-width: 26%;
        padding-top: 0.375rem 0.1875rem 0 0.0625rem;
    }
    ul {
        font-size: 0.6875rem;
        color: chartreuse;
    }
}