.hidden {
    display: none !important;
}

.container {
    display: flex;
    flex-direction: column;
}

span img {
    outline: none;
    border-radius: 100%;
    border: 0.1px solid rgb(28, 98, 91);
}

.info {
    font-size: 20px;
    color: #dfc981;
    text-align: center;
    padding-right: 2rem;
    font-family: 'Marcellus SC', serif;
}

.roles {
    color: #dfc981;
    font-family: 'Marcellus SC', serif;
}

.alignInfo {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 30% 70%;
}

.percentagePage {
    display: flex;
    margin-left: 30px;
    flex-direction: column;
}

.average {
    display: grid;
    grid-gap: 1.5rem;
    margin-top: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.HP,
.mana,
.magic,
.armor,
.attack,
.defense,
.difficulty {
    width: 60%;
    justify-self: center;
    border-bottom: #07CBE9 solid 2px;
}

.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
    max-width: 1000px;
    position: relative;
    border-radius: 6px;
}

.slider ul {
    padding: 0;
    width: 400%;
    display: flex;
    animation: cambio 20s infinite alternate linear;
}

.slider:nth-child(2) ul {
    animation-timing-function: steps(4);
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    max-width: 100%;
}

p {
    text-align: justify;
    color: antiquewhite;
}

.icons {
    display: flex;
    padding: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.role {
    cursor: pointer;
    max-width: 110px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#tittle {
    margin: 1rem;
    font-size: 50px;
    align-self: center;
    justify-self: center;
}

#img {
    width: 50px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@keyframes cambio {
    0%,
    20% {
        margin-left: 0;
    }
    25%,
    45% {
        margin-left: -100%;
    }
    50%,
    70% {
        margin-left: -200%;
    }
    75%,
    100% {
        margin-left: -300%;
    }
}

@media (min-width: 320px) and (max-width: 480px),
screen and (orientation: landscape) and (min-device-width: 320px) and (max-device-width: 640px) {
    #tittle {
        font-size: 37px;
    }
    .icons {
        padding: 0;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: space-between;
    }
    .info {
        padding-right: 0.5rem;
    }
    .info p,
    .average {
        font-size: 12px;
    }
    .role {
        max-width: 45px;
    }
    .container {
        height: 86vh;
        margin: 0 1rem 1rem 1rem;
    }
    .alignInfo {
        grid-gap: 17px;
        grid-template-rows: 100%;
    }
}

@media (max-width:320px) {
    .info p {
        font-size: 10.2px;
    }
}