* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    background: url(./assets/backgroundNero.jpeg);
    background-attachment: fixed;
    background-size: cover;
    line-height: 1.5;
    font-size: 1rem;
    color: #333;
    width: 100%;
}


/* Scroll Bar */

::-webkit-scroll,
::-webkit-scrollbar {
    width: 0.3125rem;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    border-radius: 0.375rem;
    background: linear-gradient(black, rgba(223, 201, 129, 0.541));
}


/* Interfaces for classlist */

#secondScreenOne {
    display: none;
}

#secondScreenOne.shown {
    display: block;
}


/* HEADER */

.header {
    width: 100%;
    height: 700px;
    display: flex;
    color: #fff;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
}

.logingName {
    width: 12%;
    height: 20%;
    display: none;
    position: absolute;
    vertical-align: top;
    align-items: center;
    align-self: flex-end;
}

.logingName>img {
    width: 50%;
    margin-right: 5px;
}

.pTagsTop {
    line-height: 0.8;
    color: #f3e2c1;
    font-size: 1.1rem;
    border-bottom-width: thin;
    font-family: "Cuprum", sans-serif;
    border-bottom: 1px solid turquoise;
    text-shadow: 0.0625rem 0.0625rem 0.5rem #ac7e39, 0 0 1em #b68234, 0 0 0.2em #bb8535;
}

.header-video {
    top: 0;
    left: 0;
    position: absolute;
}

.header-video video {
    width: 150%;
    height: 150%;
    filter: blur(23px);
}

.header-overlay {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
}

.header-content {
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.videoCentral {
    z-index: -1;
    height: 100%;
    display: flex;
    width: max-content;
    position: relative;
    align-items: center;
    justify-content: center;
}

.videoCentral video {
    height: 80%;
    width: auto;
}

#boxLine {
    width: 95%;
    z-index: 4;
    height: 90%;
    position: absolute;
    border: 0.0625rem solid rgb(153, 119, 69);
}

#logoLOL {
    z-index: 3;
    height: 150px;
}


/* MAIN */

.mainContainer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#mainElements1 {
    width: 100%;
    display: flex;
    margin: 1rem 0;
    padding: 0 1rem;
    align-items: center;
    flex-direction: column;
}

.modal-roles p {
    margin: 0 0.5rem;
}

.right p {
    font-size: 1.25rem;
    color: rgb(247, 221, 165);
    font-family: "Marcellus SC", serif;
}

#mainElements1 p {
    text-align: center;
    font-size: 1.875rem;
    color: rgb(252, 241, 183);
    font-family: "Marcellus SC", serif;
    text-shadow: 0.0625rem 0.0625rem 0.375rem #07cbe9;
}

#mainElements1 img {
    height: 90%;
    width: 100%;
}

.form {
    border: none;
    display: flex;
    margin-top: 3rem;
    width: max-content;
    position: relative;
    white-space: nowrap;
    justify-content: center;
}

.form input {
    outline: none;
    padding: 0 3rem;
    text-align: center;
    font-size: 1.25rem;
    border: transparent;
    letter-spacing: 0.625rem;
    text-transform: capitalize;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    color: rgba(252, 250, 250, 0.932);
    text-shadow: 0.0625rem 0.0625rem 0.5rem #feb412, 0 0 1em #07cbe9, 0 0 0.2em #07cbe9;
}

.form label {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    pointer-events: none;
    justify-content: center;
    border-bottom: 0.0625rem solid #b48643;
}

.form label::after {
    left: 0;
    bottom: 0;
    opacity: 0;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 0.3s ease;
    border-bottom: 0.125rem solid #07cbe9;
}

.form input:focus+label,
.form input:valid+label {
    border: none;
}

.form input:focus+.label_name::after,
.form input:valid+.label_name::after {
    opacity: 1;
}

.content-name {
    color: #dfc981;
    margin-left: 1rem;
    bottom: 0.3125rem;
    position: relative;
    font-size: 1.125rem;
    transition: all 0.3s ease;
    font-family: "Roboto", sans-serif;
}

.form input:focus+.label_name .content-name,
.form input:valid+.label_name .content-name {
    color: turquoise;
    font-size: 1.25rem;
    letter-spacing: 0.3125rem;
    transform: translateY(-150%);
    text-shadow: 0.0625rem 0.0625rem 0.5rem #feb412, 0 0 1em #07cbe9, 0 0 0.2em #07cbe9;
}

.btnRole,
#buttonEnter {
    outline: none;
    color: wheat;
    cursor: pointer;
    margin: 3rem 0;
    font-size: 1.5625rem;
    padding: 1.5rem 3rem;
    transition: all 0.3s ease;
    background-color: transparent;
    border: 0.0625rem solid #07cbe9;
    font-family: "Marcellus SC", serif;
}

.btnRole:hover,
#imgRiot:hover,
#buttonEnter:hover {
    letter-spacing: 0.375rem;
    border: 0.0625rem solid #b48643;
    box-shadow: 0 0 1.25rem #feb412, 0 0 1.25rem #feb412;
    text-shadow: 0.0625rem 0.0625rem 0.5rem #feb412, 0 0 1em #07cbe9, 0 0 0.2em #07cbe9;
}

.nav-link,
#mainElements5 {
    width: min-content;
}

#imgRiot {
    height: 5rem;
    width: auto;
    outline: none;
    background-color: transparent;
    border: 0.125rem solid #fa2f2f;
}

#modal {
    top: 0;
    left: 0;
    z-index: 3;
    height: 50%;
    width: 100vw;
    color: #fff;
    position: absolute;
    animation: modal 2s;
    transition: all 0.5s;
    background: rgba(53, 20, 66, 0.548);
}


/* MODAL */

.overlay {
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background: rgba(0, 0, 0, 0.8);
}

.close-button {
    top: -3rem;
    width: 2rem;
    height: 2rem;
    right: -2rem;
    display: flex;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: #08d7f7;
    box-shadow: inset 0 0 1.25rem #DEC880, 0 0 1.25rem #DEC880;
}

.close-button svg {
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    color: rgb(226, 219, 219);
}

.close-button svg:hover {
    color: rgb(250, 211, 137);
    box-shadow: inset 0 0 1.25rem #07cbe9, 0 0 1.25rem #07cbe9;
    text-shadow: 0.0625rem 0.0625rem 0.5rem #feb412, 0 0 1em #07cbe9, 0 0 0.2em #07cbe9;
}

.modal {
    height: 80%;
    width: 450px;
    display: flex;
    padding: 1.5rem;
    max-height: 500px;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    border: 0.0313rem solid #dfc981;
    background: url(./assets/backgroundNero.jpeg);
}

.modal-header {
    width: 100%;
    display: flex;
    align-items: center;
    font-family: 'Marcellus SC', serif;
}

.modal-roles p,
.modal-header p {
    font-size: 1.25rem;
    font-weight: bolder;
    color: rgb(223, 201, 129);
}

.modal-header img {
    width: 20px;
    height: 20px;
    margin-left: 1rem;
}

.modal-stats {
    height: 80%;
    width: 100%;
    display: flex;
}

.modal-stats_left,
.modal-stats_right {
    width: 50%;
    height: 100%;
    display: flex;
    padding: 1rem 0;
    text-align: initial;
    flex-direction: column;
}

.modal-stats_right {
    padding-left: 0.6rem;
    border-left: 0.0313rem solid #dfc981;
}

.modal-stats_left p,
.modal-stats_right p {
    color: #fff;
    padding: 0.3rem 0;
    line-height: 1rem;
    font-family: "Cuprum", sans-serif;
}

.modal-roles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Ruda", sans-serif;
}

.modal-roles img {
    width: 50px;
    height: auto;
}


/* FOOTER */

footer {
    width: 100%;
    display: flex;
    padding: 1rem;
    padding-top: 1%;
    justify-content: space-between;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right:hover {
    text-shadow: 0.0625rem 0.0625rem 0.375rem #07cbe9;
}

#left {
    width: min-content;
    display: flex;
    text-align: right;
}

#left a:link,
#left a img {
    width: 50px;
    height: 50px;
    text-decoration: none;
    margin-left: 0.625rem;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.imgRedes:hover {
    border-radius: 50%;
    box-shadow: inset 0 0 1.25rem #feb412, 0 0 1.25rem #feb412;
}

#compartir {
    height: 1.8rem;
    width: 1.8rem;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


/*---------------------------------------------------------------------------------------*/


/* SEGUNDA INTERFAZ */

.secondScreenBox {
    height: 38%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.welcomingBox {
    top: 0;
    left: 0;
    margin: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 5rem;
    text-align: center;
    position: absolute;
    align-items: center;
    animation-delay: 0s;
    animation-duration: 3s;
    letter-spacing: 0.25rem;
    justify-content: center;
    color: rgb(252, 241, 183);
    font-family: "Marcellus SC", serif;
    animation-iteration-count: infinite;
    background: url(./assets/backgroundNero.jpeg);
}

#welcomingInside {
    height: 50%;
    width: 70%;
    display: flex;
    color: #f3e1a0;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: transparent;
    box-shadow: 0 0 1.25rem #feb412, 0 0 1.25rem #feb412;
    text-shadow: 0.0625rem 0.0625rem 0.5rem #ebddc0, 0 0 1em #07cbe9, 0 0 0.2em #07cbe9;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.hide {
    display: none;
}

.shown {
    display: block;
}

.showFlex {
    display: flex;
}

.visible {
    overflow: visible;
}

.overflowHidden {
    overflow: hidden;
}

#lupa {
    margin-left: 7px;
    animation-delay: 0s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.mainTittle {
    margin-top: 1rem;
    text-align: center;
    font-size: 9.375rem;
    padding-bottom: 0.2rem;
    color: rgb(252, 241, 183);
    text-shadow: 0.0625rem 0.0625rem 0.375rem #07cbe9;
}

#chooseYour {
    text-align: center;
    color: #dfc981;
    font-size: 2.1875rem;
    padding: 0 0.3125rem 0 0.3125rem;
    font-family: "Marcellus SC", serif;
}

#champion {
    color: #dfc981;
    padding-left: 5px;
    font-size: 3.125rem;
    padding: 0.1rem 0rem 0.1rem 0rem;
    font-family: 'Marcellus SC', serif;
}

#list {
    display: grid;
    padding: 3rem;
    grid-gap: 4rem;
    color: #dfc981;
    padding-bottom: 50px;
    transition: 0.4s ease-in-out;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

#filteredList {
    display: grid;
    padding: 3rem;
    grid-gap: 3rem;
    color: #dfc981;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

#divider2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -0.125rem;
}


/* CARD */

.card {
    width: 100%;
    display: grid;
    height: 300px;
    display: flex;
    position: relative;
    grid-auto-rows: 390px;
    background-size: cover;
    justify-content: center;
    grid-auto-flow: row dense;
    transition: all ease 0.5s;
    background-repeat: no-repeat;
    transform-style: preserve-3d;
    border: 0.0625rem solid #e0cb7e;
    background-position: -180px center;
    grid-template-columns: repeat(4, 1fr);
    transform: perspective(600px) rotateY(0deg);
    grid-template-rows: repeat(auto-fit, 390px);
}

.boxBackImg {
    margin: 0;
    padding: 0;
    width: 55px;
    height: 55px;
    border: transparent;
    box-shadow: inset 0 0 1.25rem #07cbe9, 0 0 1.25rem #07cbe9;
}

.card:hover {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .championName {
    transform: rotateY(180deg);
}


/* Backcard */

.back-card {
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    color: #fff;
    overflow: auto;
    position: absolute;
    background: #704efae8;
    transition: all ease 0.5s;
    backface-visibility: hidden;
    border: 0.0625rem solid #07cbe9;
    font-family: 'Marcellus SC', serif;
    transform: perspective(600px) rotateY(180deg);
    box-shadow: inset 0 0 1.25rem #07cbe9, 0 0 1.25rem #07cbe9;
}

.back-card__info,
.classBackCard {
    width: 100%;
    height: 100%;
    display: flex;
    color: #fff;
    font-size: 0.75rem;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    font-family: 'Cuprum', sans-serif;
}

.divClassWord {
    display: flex;
    color: #f8f6ed;
    font-size: 0.875rem;
    justify-content: center;
    font-family: "Cuprum", sans-serif;
}

.pTags {
    text-shadow: 0.0625rem 0.0625rem 0.5rem #ac7e39, 0 0 1em #b68234, 0 0 0.2em #bb8535;
}

.back-card__info p {
    color: whitesmoke;
    font-size: 0.8125rem;
    font-family: "Cuprum", sans-serif;
}

.back-card__info h3 {
    color: #f1dd9b;
}

.champion-name p {
    color: #dfc981;
    font-size: 1.375rem;
    font-family: 'Trade Winds', cursive;
}

.champion-name img {
    width: auto;
    height: 20px;
}

.champion-box {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.champion-stats {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.champion-stats__item {
    font-size: 0.8rem;
    text-transform: capitalize;
}


/* Button backcard play & moreStats */

.backCardContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.backCardContainer a {
    margin-top: 0px;
}

.more-stats,
.playButton {
    width: 70px;
    height: 30px;
    margin: 0rem;
    display: flex;
    cursor: pointer;
    font-size: 0.25rem;
    align-items: center;
    font-size: 0.625rem;
    padding: 0.25rem 0.5rem;
    color: rgb(249, 252, 252);
    font-family: "Marcellus SC", serif;
    border: rgb(80, 234, 245) 0.0625rem solid;
}

.playButton {
    background: none;
    align-items: center;
    text-decoration: none;
    margin-top: -3.125rem;
    justify-content: center;
}

.more-stats:hover,
.playButton:hover {
    color: #820de2;
    background-color: #07cbe9;
    border: rgb(223, 201, 129);
    box-shadow: inset 0 0 1.25rem #07cbe9, 0 0 1.25rem #07cbe9;
}

#buttonEnterSecondPage {
    display: flex;
    outline: none;
    color: wheat;
    cursor: pointer;
    font-size: 1.5625rem;
    justify-content: center;
    transition: all 0.3s ease;
    background-color: transparent;
    font-family: 'Marcellus SC', serif;
}

#buttonEnterSecondPage a {
    width: auto;
    margin: auto;
    outline: none;
    color: wheat;
    cursor: pointer;
    padding: 2.5rem 3rem;
    font-size: 1.5625rem;
    transition: all 0.3s ease;
    background-color: transparent;
    border: 0.0625rem solid #07cbe9;
    font-family: 'Marcellus SC', serif;
}

#buttonEnterSecondPage a:hover {
    letter-spacing: 0.375rem;
    border: 0.0625rem solid #b48643;
    box-shadow: 0 0 1.25rem #feb412, 0 0 1.25rem #feb412;
    text-shadow: 0.0625rem 0.0625rem 0.5rem #feb412, 0 0 1em #07cbe9, 0 0 0.2em #07cbe9;
}


/* front card */

.championName {
    top: 100%;
    color: #dfc981;
    position: absolute;
    font-size: 1.25rem;
    transition: all ease 0.5s;
    font-family: 'Trade Winds', cursive;
}

.championName:hover {
    color: #07cbe9;
}

.championSplash {
    width: 100%;
    height: 100%;
    border: 0.0625rem solid #dfc981;
}

.championSplash:hover {
    transform: rotateY(180deg);
    animation: 10s ease infinite;
    border: rgb(80, 234, 245) 0.0625rem solid;
}

.hidden {
    display: none !important;
}

.line {
    height: 38px;
    align-self: center;
    border-left: 0.0625rem solid #07cbe9;
}

.line:hover {
    height: 48px;
}

.text1 p {
    color: #dfc981;
    font-size: 1.5rem;
    text-align: center;
    font-family: "Marcellus SC", serif;
    padding: 0.6rem 1rem 0.0625rem 1rem;
}


/* CHAMPION not found: busqueda por nombre */

#error {
    margin: auto;
    width: 60%;
    height: 30%;
    bottom: 40%;
    padding: 1.25rem;
    margin-bottom: 26%;
    text-align: center;
    font-size: 3.125rem;
    color: rgb(247, 221, 165);
    border: 0.0625rem solid turquoise;
    font-family: 'Trade Winds', cursive;
}

#error img {
    width: 52px;
    height: 53px;
    top: 2.5625rem;
    left: 17.8125rem;
}


/* FILTRADO por dificultad */

#myDropdown:hover {
    display: flex;
    flex-direction: column;
}

#myDropdown2:hover {
    display: flex;
    flex-direction: column;
}

.levelFull {
    width: 30px;
    height: 15px;
    transform: skew(20deg);
    -o-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -webkit-transform: skew(20deg);
    background: rgb(8, 215, 247);
    border: 0.0625rem solid rgb(217, 195, 125);
}

#easy {
    display: grid;
    padding-left: -8px;
    grid-template-columns: 1fr 1fr 1fr;
}

#medium {
    display: grid;
    padding-left: -0.5rem;
    grid-template-columns: 1fr 1fr 1fr;
}

#hard {
    display: grid;
    padding-left: -0.5rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.levelFull:hover {
    box-shadow: 0.0625rem 0.0625rem 0.5rem yellow, 0 0 1em #07cbe9, 0 0 0.2em #07cbe9;
}

.levelEmpty {
    width: 30px;
    height: 15px;
    transform: skew(20deg);
    -o-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -webkit-transform: skew(20deg);
    background: rgba(8, 215, 247, 0.26);
    border: 0.0625rem solid rgb(245, 222, 179);
}

#btnPlayFree {
    width: 20%;
    display: grid;
    color: #07cbe9;
    text-align: center;
    align-items: center;
    grid-template-columns: 1fr, 1fr;
    border-radius: 1.5625rem 0rem 1.5625rem 0rem;
    background-color: rgba(255, 255, 255, 0.733);
}


/*BUILDS segunda interfaz*/

.corner {
    width: 96%;
    padding: 0.3125rem;
    margin: 2rem 0 2rem 2rem;
    border: #07cbe9 0.0625rem solid;
    border-radius: 1.875rem 0rem 1.875rem 0rem;
}

.builds {
    width: 100%;
    height: 50px;
    color: #dfc981;
    text-align: center;
    align-items: center;
    flex-direction: row;
    display: inline-flex;
    text-decoration: none;
    justify-content: space-evenly;
    background-color: #0ca6beb7;
    font-family: 'Marcellus SC', serif;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 1.5625rem 0rem 1.5625rem 0rem;
}

.builds a,
.builds p {
    color: #dfc981;
    font-weight: bold;
    text-decoration: none;
}

.builds a:hover {
    color: #795de6;
    letter-spacing: 0.25rem;
    text-shadow: 0.0625rem 0.0625rem 0.5rem #feb412, 0 0 1em #07cbe9, 0 0 0.2em #07cbe9;
}


/*BUTTON:UP*/

.ir-arriba {
    z-index: 1;
    right: 1rem;
    height: 45px;
    bottom: 1rem;
    outline: none;
    position: fixed;
    cursor: pointer;
    overflow: hidden;
    animation: "fade";
    filter: blur(50%);
    border-radius: 100%;
    background: rgb(8, 215, 247);
    border: 0.1875rem solid rgb(28, 98, 91);
}

.ir-arriba img {
    width: 46px;
}

.ir-arriba:hover {
    box-shadow: 0 0 1.25rem #feb412, 0 0 1.25rem #feb412;
}

.ir-arriba,
.ir-arriba img {
    outline: none;
    border-radius: 100%;
    border: 0.0063rem solid rgb(28, 98, 91);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.almostFinalBTN {
    bottom: 5rem;
}

.btnDownSs {
    display: flex;
    justify-content: space-evenly;
}

.descriptionClass {
    width: 100%;
}


/*MEDIA QUERIES*/

@media (min-width: 1366px) {
    .text1 p {
        font-size: 2rem;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .playButton {
        margin-top: -0.625rem;
    }
    #logoLOL {
        height: auto;
        width: 50vmin;
    }
    .header {
        height: 600px;
    }
    .card {
        height: 250px;
        background-position: -190px center;
    }
    #list {
        padding-top: 0;
        grid-gap: 2rem 1rem;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    #left a:link,
    #left a img {
        width: 55px;
        height: 55px;
    }
    .greeting {
        font-size: 3.4375rem;
    }
    #divider2 {
        margin-top: -1.25rem;
    }
}

.pTagsTop {
    margin-left: -1.1875rem;
}

@media (max-height: 700px) and (min-width: 768px) {
    .close-button {
        top: 0;
        right: -3rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .playButton {
        margin-top: -6.25rem;
    }
    .header-video video {
        height: 120%;
        width: 120%;
        filter: blur(18px);
    }
    #list {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        padding: 1.8rem;
    }
    .card {
        height: 250px;
    }
    .corner {
        margin: 2rem 0 2rem 1rem;
    }
    #divider2 {
        margin-top: -1.25rem;
    }
    #logoLol {
        height: 150px;
    }
    .header {
        height: 500px;
    }
    #mainElements1 p {
        font-size: 1.125rem;
    }
    .modal-stats_left p,
    .modal-stats_right p {
        padding: 0.4rem 0;
    }
    #left a:link,
    #left a img {
        width: 55px;
        height: 55px;
    }
    footer p {
        margin-top: 1%;
    }
    .text1 p {
        font-size: 1.5rem;
        padding: 0 0.3125rem 0.0625rem 0.3125rem;
    }
    .greeting {
        font-size: 1.875rem;
    }
    .ir-arriba {
        height: 50px;
    }
    .ir-arriba img {
        width: 50px;
    }
    .pTagsTop {
        font-size: 0.75rem;
        margin-left: -1.75rem;
    }
    .logingName {
        width: 20%;
        margin-left: 6%;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    footer {
        padding-top: 8%;
    }
    .header-video video {
        width: 120%;
        height: 120%;
        filter: blur(18px);
    }
    #buttonEnter {
        margin: 2.5rem 0;
    }
    .header {
        height: 350px;
    }
    #logoLol {
        height: 150px;
    }
    #left a:link,
    #left a img {
        width: 45px;
        height: 45px;
    }
    .form {
        width: 60%;
        margin-top: 3rem;
    }
    #mainElements1 {
        margin: 0 0 1rem 0;
    }
    #mainElements1 p {
        font-size: 0.8125rem;
        margin-top: 0.3125rem;
    }
    .welcomingBox {
        height: 65%;
        width: 100%;
        font-size: 1.25rem;
    }
    .right p {
        font-size: 0.6875rem;
    }
    .modal {
        height: 500px;
        width: 310px;
        padding: 1rem;
    }
    .modal-stats_left p,
    .modal-stats_right p {
        padding: 0.3rem 0;
    }
    .modal-stats_left p,
    .modal-stats_right p {
        font-size: 0.6875rem;
    }
    .secondScreenBox {
        height: 38%;
        width: 100%;
        padding: 0.5rem 0 0 0;
    }
    #chooseYour {
        font-size: 1.1875rem;
        padding: 0;
        margin-left: 90px;
    }
    #divider2 {
        margin-top: -25px;
    }
    #champion {
        font-size: 1.875rem;
    }
    .text1 p {
        font-size: 1rem;
        padding: 0 0.3125rem 0.0625rem 0.3125rem;
    }
    #list {
        display: grid;
        padding: 1rem;
        grid-gap: 1rem;
        color: #dfc981;
        padding-bottom: 3.125rem;
        transition: 0.4s ease-in-out;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    .card {
        height: 250px;
        margin-bottom: 0.625rem;
        background-position: -130px center;
    }
    .corner {
        padding: 0.3125rem;
        margin-left: 1rem;
    }
    .championName {
        font-size: 0.8125rem;
        margin-left: 0.3125rem 0 0 4.875rem;
    }
    .back-card__info p {
        font-size: 0.8125rem;
    }
    .more-stats,
    .playButton {
        padding: 0.3125rem;
        font-size: 0.625rem;
    }
    .welcomingBox {
        height: 75%;
        width: 100%;
        font-size: 1.25rem;
    }
    .ir-arriba {
        height: 45px;
    }
    .ir-arriba img {
        width: 45px;
    }
    .builds p {
        font-size: 0.5625rem;
    }
    .dropdownMenu {
        width: 80%;
        display: block;
    }
    #lupa {
        margin-left: 0rem;
    }
    #searchInputs {
        width: 60px;
    }
    .pTagsTop {
        font-size: 0.5625rem;
    }
    .logingName {
        width: 12.5%;
    }
}

@media screen and (orientation: landscape) and (min-device-width: 320px) and (max-device-width: 640px) and (-webkit-device-pixel-ratio: 2) {
    .modal {
        height: 330px;
        width: 310px;
    }
    .modal-header p,
    .modal-roles p {
        font-size: 1rem;
        font-weight: bolder;
        margin-bottom: 0.125rem;
        color: rgb(223, 201, 129);
    }
    .modal-header img {
        height: 20px;
        width: 20px;
        margin-left: 0.3125rem;
    }
    .modal-stats_left,
    .modal-stats_right {
        width: 50%;
        height: 90%;
        display: flex;
        text-align: initial;
        margin-top: 0.1875rem;
        flex-direction: column;
    }
    .modal-stats {
        height: 90%;
        width: 100%;
        display: flex;
        margin-top: -0.1875rem;
    }
    .close-button {
        top: -0.5rem;
        right: -3rem;
    }
    .modal-stats_left p,
    .modal-stats_right p {
        padding: 0.1rem 0;
        font-size: 0.625rem;
    }
    .modal-roles img {
        width: 40px;
        height: auto;
    }
    #list {
        margin-top: -1.25rem;
        grid-gap: 6vmin 3vmin;
        grid-template-columns: repeat(3, 1fr);
    }
    .card {
        height: 250px;
        margin-bottom: 0.4375rem;
        background-position: -130px center;
    }
    .text1 p {
        font-size: 1rem;
        padding: 0 0.3125rem 0rem 0.3125rem;
    }
    #mainElements1 p {
        margin-top: 0.75rem;
        font-size: 0.8125rem;
    }
    footer {
        padding-top: 3%;
    }
    .pTagsTop {
        font-size: 0.5625rem;
        margin-left: -0.625rem;
    }
    .logingName {
        width: 14%;
    }
    .logingName>img {
        width: 40%;
        margin-right: 0.125rem;
    }
    #buttonEnterSecondPage a {
        width: 0px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .pTagsTop {
        font-size: 0.9rem;
        margin-left: -0.875rem;
    }
    .logingName {
        width: 19%;
    }
    footer {
        padding-top: 5.5%;
    }
    .header-video video {
        width: 120%;
        height: 120%;
        filter: blur(1.125rem);
    }
    .corner {
        width: 99%;
        margin: 1rem 0.2rem;
    }
    .nameSearch img {
        width: 20px;
        height: 20px;
    }
    .welcomingBox {
        height: 65%;
        width: 100%;
        font-size: 1.25rem;
    }
    #chooseYour {
        font-size: 0.9375rem;
        margin: 0 0 -0.625rem 2.625rem;
        padding: 0;
    }
    #divider2 img {
        width: 50px;
    }
    #champion {
        font-size: 1.875rem;
    }
    .text1 p {
        font-size: 0.6875rem;
        padding: 0.3rem 0.3125rem 0.0625rem 0;
    }
    .header {
        height: 250px;
    }
    #mainElements1 p {
        font-size: 0.8125rem;
    }
    .form {
        width: 60%;
        margin-top: 2rem;
    }
    .right p {
        font-size: 0.5rem;
    }
    #buttonContainer {
        position: absolute;
        margin-top: 17.5rem;
    }
    .modal {
        width: 80%;
        height: 450px;
        margin-top: -2rem;
    }
    .modal-stats_left p,
    .modal-stats_right p {
        padding: 0.3rem 0;
        font-size: 0.6875rem;
    }
    #list {
        grid-gap: 1rem;
        padding: 0.75rem;
        margin-bottom: 1.875rem;
        grid-template-columns: repeat(2, 1fr);
    }
    .card {
        height: 270px;
        margin-bottom: 0.9375rem;
        background-position: -190px center;
    }
    .championName {
        font-size: 0.9375rem;
    }
    #left a:link,
    #left a img {
        width: 30px;
        height: 30px;
    }
    #buttonEnter {
        margin: 2.5rem 0;
    }
    #error {
        width: 80%;
        font-size: 1rem;
        padding: 1.25rem;
        margin-bottom: 10%;
    }
    #error img {
        width: 32px;
        height: 33px;
    }
    .ir-arriba {
        height: 45px;
    }
    .ir-arriba img {
        width: 45px;
    }
    .greeting {
        font-size: 1rem;
    }
    #buttonEnterSecondPage a {
        width: 0px;
    }
    #buttonEnter:hover,
    .btnRole:hover {
        letter-spacing: 0.1rem;
    }
}

@media (max-width: 320px) {
    #buttonEnterSecondPage a {
        width: 0px;
        font-size: 1rem;
        padding: 2.2rem 3.5rem;
    }
    .card {
        height: 230px;
    }
    #buttonEnter,
    .btnRole {
        margin: 3rem 0;
        font-size: 1rem;
        padding: 1.5rem 3rem;
    }
    #boxLine {
        width: 75%;
        height: 90%;
    }
    .modal {
        margin-top: 0;
    }
    .playButton {
        margin-top: -1.875rem;
    }
    .more-stats,
    .playButton {
        width: 57px;
        font-size: 0.45rem;
        align-items: center;
        justify-content: inherit;
    }
    .close-button {
        top: -1.5rem;
        right: -2.2rem;
    }
    #buttonContainer {
        margin-top: 0;
        position: initial;
    }
    .searchbar {
        padding-left: 0rem;
        font-size: 0.625rem;
    }
    #error {
        width: 80%;
        font-size: 1rem;
        padding: 1.25rem;
    }
    #error img {
        width: 22px;
        height: 23px;
    }
    .builds a,
    .builds p {
        font-size: 0.6563rem;
    }
    .right p {
        font-size: 0.3rem;
    }
    .greeting {
        font-size: 0.8125rem;
    }
    .pTagsTop {
        font-size: 0.4375rem;
    }
    .logingName {
        width: 19%;
    }
}